<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
  <center>
      <h2> Enter the details of the Species</h2>
              <form action="/result"  method="POST" enctype="multipart/form-data">
          <label for="sswidth">Sepal Length:</label>
          <input type="number" step="any" id="fname" name="slength"><br><br>
          <label for="slength">Sepal Width:</label>
          <input type="number" step="any" id="fname" name="swidth"><br><br>
          <label for="sswidth">Petal Length:</label>
          <input type="number" step="any" id="fname" name="plength"><br><br>
          <label for="slength">Petal Width:</label>
          <input type="number" step="any" id="fname" name="pwidth"><br><br>
          <input type="submit" value="Submit">
        </form>
        </center>

</body>
</html>